<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="b6670bb8-487b-4d9d-b912-53d18ac2fb2e"
    Version="1.0.0.0"
    Publisher="CN=MD. SHAHIDUL ISLAM" />

  <mp:PhoneIdentity PhoneProductId="b6670bb8-487b-4d9d-b912-53d18ac2fb2e" PhonePublisherId="00000000-0000-0000-0000-000000000000" />

  <Properties>
    <DisplayName>batchphoto</DisplayName>
    <PublisherDisplayName>MD. SHAHIDUL ISLAM</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application 
      Id="App"
      StartPage="https://kucsebatch14.github.io/">
	  
	  <uap:ApplicationContentUriRules>
	  <uap:Rule Match="https://kucsebatch14.github.io/" Type="include" WindowsRuntimeAccess="all"/>
      </uap:ApplicationContentUriRules>
	   
      <uap:VisualElements
        DisplayName="batchphoto"
        Description="batchphoto"
        BackgroundColor="transparent"
        Square150x150Logo="images\Square150x150Logo.png"
        Square44x44Logo="images\Square44x44Logo.png">

        <uap:DefaultTile Wide310x150Logo="images\Wide310x150Logo.png" />
        

      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>

</Package>
